[Unit]
Description=Solo Provisioner Daemon
After=network.target

[Service]
Type=simple
User=weaver
Group=weaver
ExecStart=/opt/solo/weaver/bin/solo-provisioner daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
