# SPDX-License-Identifier: Apache-2.0

name: "ZXC: Unit Test"
on:
  workflow_call:
    inputs:
      go-version:
        description: "Go Version:"
        type: string
        required: false
        default: ">=1.25.0"
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Unit Test"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  unit-test:
    name: "${{ inputs.custom-job-label || 'Unit Test' }}"
    runs-on: solo-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Detect KVM availability
        run: |
          if [ -e /dev/kvm ]; then
            echo "KVM_AVAILABLE=1" >> "$GITHUB_ENV"
            echo "KVM detected: /dev/kvm exists"
          else
            echo "KVM_AVAILABLE=0" >> "$GITHUB_ENV"
            echo "KVM not detected: /dev/kvm does not exist"
          fi

      - name: Debug QEMU accelerators (optional)
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-x86 || true

          if command -v qemu-system-x86_64 >/dev/null 2>&1; then
            echo "=== qemu accelerators ==="
            qemu-system-x86_64 -accel help || true
          else
            echo "qemu-system-x86_64 not installed"
          fi


      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup GoLang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ inputs.go-version || '>=1.25.0' }}

      - name: Create Weaver User and Group
        run: |
          sudo groupadd -g 2500 weaver || true
          sudo useradd -u 2500 -g 2500 -m -s /bin/bash weaver|| true

      - name: Run Unit Tests
        run: sudo -E --preserve-env=PATH,GOPATH,HOME,GOROOT,GITHUB_STEP_SUMMARY task test:unit:verbose

      - name: Unit Test Report
        if: ${{ always() }}
        run: |
          if [[ -f unit-test-report.md ]]; then
            sudo cat unit-test-report.md >> "${GITHUB_STEP_SUMMARY}"
          fi
