# SPDX-License-Identifier: Apache-2.0

name: "ZXC: Unit Test"
on:
  workflow_call:
    inputs:
      go-version:
        description: "Go Version:"
        type: string
        required: false
        default: ">=1.25.0"
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Unit Test"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  unit-test:
    name: "${{ inputs.custom-job-label || 'Unit Test' }}"
    runs-on: solo-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup GoLang
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ inputs.go-version || '>=1.25.0' }}

      - name: Create Weaver User and Group
        run: |
          sudo groupadd -g 2500 weaver || true
          sudo useradd -u 2500 -g 2500 -m -s /bin/bash weaver|| true

      - name: Run Unit Tests
        run: sudo -E --preserve-env=PATH,GOPATH,HOME,GOROOT,GITHUB_STEP_SUMMARY task test:unit:verbose

      - name: Unit Test Report
        if: ${{ always() }}
        run: |
          if [[ -f unit-test-report.md ]]; then
            sudo cat unit-test-report.md >> "${GITHUB_STEP_SUMMARY}"
          fi
